<%- include("_header") -%>

   <br>
     <h2> Author's Page </h2> 
   <br>
           
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Article Title</th>
                    <th>Article Subtitle</th>
    
                    <th class="d-print-none">
                        <a class="btn btn-sm btn-success" href="/user/compose">Compose</a>                    
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (const article of model) 
                { %>
                    <tr>
                        <td>
                            <%= article.ID %>
                        </td>
                        <td>
                            <%= article.Author %>
                        </td>
                        <td>
                            <%= article.Title %>
                        </td>
                        <td>
                            <%= article.Subtitle %>
                        </td>
                    
                        <td class="d-print-none">
                            <a class="btn btn-sm btn-warning" href="/user/modify/<%= article.ID %>">Modify</a>
                            <a class="btn btn-sm btn-success" href="/user/publish/<%= article.ID %>">Publish</a>
                            <a class="btn btn-sm btn-danger" href="/user/discard/<%= article.ID %>">Discard</a>
                            <a class="btn btn-sm btn-outline-dark" href="/user/settings/<%= article.ID %>">Settings</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    

    <%- include("_footer") -%>